name: mainnet_tx_count_per_epoch

on:
  schedule:
    - cron:  '0 8 * * *'
  workflow_dispatch:

jobs:
  mainnet_tx_count_per_epoch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          ref: ${{ github.ref_name || 'main' }}

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        if: matrix.sys.os != 'windows-latest'
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ= iohk.cachix.org-1:DpRUyj7h7V830dp/i6Nti+NEO2/nhblbov/8MW7Rqoo=
            substituters = https://cache.nixos.org https://cache.iog.io https://iohk.cachix.org
            allow-import-from-derivation = true

      - name: Get the automated tests results
        env:
          BUILDKITE_API_ACCESS_TOKEN: ${{ secrets.BUILDKITE_API_ACCESS_TOKEN }}
          AWS_DB_USERNAME: ${{ secrets.AWS_DB_USERNAME }}
          AWS_DB_PASS: ${{ secrets.AWS_DB_PASS }}
          AWS_DB_NAME: ${{ secrets.AWS_DB_NAME }}
          AWS_DB_HOSTNAME: ${{ secrets.AWS_DB_HOSTNAME }}
          BLOCKFROST_API_KEY: ${{ secrets.BLOCKFROST_API_KEY }}
        run: |
          echo "current branch: $(git branch --show-current)"
          nix develop --accept-flake-config .#python --command python -m sync_tests.tests.node_write_mainnet_tx_count_per_epoch
