name: repo_lint

on:
  pull_request:
    branches:
    - main

env:
  PY_COLORS: "1"

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v5
    - name: Set up python
      id: setup-python
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python3 -m venv .venv
        source .venv/bin/activate
        python3 -m pip install --require-virtualenv -r requirements-dev.txt
    - name: Load cached pre-commit env
      id: cached-pre-commit
      uses: actions/cache@v4
      with:
        path: ~/.cache/pre-commit
        key: pre-commit-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('.pre-commit-config.yaml') }}
    - name: Install pre-commit hooks
      run: |
        mkdir -p ~/.cache/pre-commit
        true > ~/.cache/pre-commit/pre-commit.log
        source .venv/bin/activate
        pre-commit install-hooks --color=always
        retval="$?"
        if [ "$retval" -ne 0 ]; then
          cat ~/.cache/pre-commit/pre-commit.log
        fi
        exit "$retval"
    - name: Run pre-commit linters
      run: |
        source .venv/bin/activate
        pre-commit run -a --show-diff-on-failure --color=always
